@{
    ViewBag.Title = "About";
}

<h2>VISION STATEMENT</h2>
<p>To be recognized as a vibrant, progressive, organized and respected Montero club in the Philippines and encouraging to share good deeds to fellow TMSP members and to the changing needs of the community.</p>

<h2>MISSION STATEMENT</h2>

<p>
    The purpose of our club is to promote camaraderie among fellow TMSP members and to encourage every member to be a law abiding and ethical citizen of the community.<br />
    We Strive:
    <ul>
        <li>To further grow the general enjoyment of our hobby</li>
        <li>To promote, organize, and supervise outings, meetings, competitions, and shows</li>
        <li>To build fellowship through social activities beyond our passion to Montero Sport</li>
        <li>To foster working relationships with neighboring clubs through collaboration and cross-promotion</li>
        <li>To help our fellow Montero owners with technical and non-technical challenges with their Montero Sport</li>
        <li>To be a contributing member of the local community through charity and good deeds</li>
    </ul>
</p>



