<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h2>TEAM MONTERO SPORT PHILIPPINES</h2>

    <h4>CODE OF CONDUCT</h4>
    <p style="color: red; font-weight: bold">(V.03 11-13-2018)</p>

    <ol>
        <li>TMSP OFFICIAL TEAM POLO SHIRT AND STICKERS ARE MANDATORY TO BECOME A LEGIT TMSP MEMBER. ONE IS REQUIRED TO HAVE ATLEAST ATTENDED TWO (2) TMSP EB/MEET & GREET OR EVENTS TO BE CONSIDERED AS LEGIT/BONAFIDE MEMBER.</li>

        <li>TMSP MEMBERS MUST SHOW RESPECT FOR THEIR CHAPTER TEAM HEAD, ADMINS AND TEAM COORDINATORS, CO-MEMBERS, OTHER CAR CLUBS AND THE COMMUNITY. IT IS STRICTLY DISCOURAGE TO CAUSE CONFLICT AND COMMOTION AMONG ITS MEMBERS. WE ARE ONE TEAM AND ONE FAMILY, ALL CONFLICTS AND GAPS SHOULD BE AVOIDED AS MUCH AS POSSIBLE AND IF THERE IS ANY, SHOULD BE RESOLVED IMMEDIATELY. LET’S PROMOTE LOVE, PEACE, HARMONY AND CAMARADERIE WITHIN OUR TEAM.</li>
        <li>TMSP MEMBERS ARE EXPECTED TO ATTEND, PARTICIPATE AND SUPPORT ANY TMSP SPONSORED EVENTS, MEETINGS, CHARITY, EB, YEAR-END PARTY, TEAM ANNIVERSARY WHENEVER POSSIBLE. WE WANT YOUR PRESENCE AND YOUR COOPERATION ON THE MISSION AND VISION OF OUR TEAM. WE WANT ARE TEAM TO BE SOLID AND UNITED AS MUCH AS POSSIBLE THUS YOUR PRESENCE IS HIGLY APPRECIATED AND IS NEVER IN VAIN.</li>

        <li>IF ANY TMSP MEMBER CANNOT ADHERE TO THE RULES AND REGULATIONS OF THE TEAM AND IT IS FELT THAT A MEMBERS ACTIONS OR ACTIVITIES HARM THE TEAM, ITS MEMBERS, IMAGE REPUTATION AND INTEGRITY, THAT MEMBER MAY BE KICKED OUT FROM THE TEAM AFTER PROPER DUE PROCESS AND SHALL NO LONGER BE ACKNOWLEDGE AS LEGIT MEMBER OF TMSP.</li>

        <li>TMSP MEMBERS SHOULD ACT IN A MATURE, ADULT MANNER WHEN REPRESENTING THE TEAM ESPECIALLY ON FACEBOOK POSTS. BE PROUD AND LOYAL, ANY ACTIONS YOU UNDERTAKE REPRESENTS THE IMAGE OF OUR TEAM.</li>

        <li>TMSP MEMBERS SHOULD ASSIST CO-TMSP MEMBERS WHENEVER NEEDED. WE SHOULD HELP ONE ANOTHER, AFTER ALL WE ARE A FAMILY.</li>

        <li>TMSP MEMBERS ARE PROHIBITED TO SELL ANY PRODUCTS THAT ARE OVERLY CHARGED OR PRICED. AS MUCH AS POSSIBLE, WE SHOULD GIVE DISCOUNTS TO OUR FELLOW MEMBERS. IN ADDITION, TEAM HEADS ARE PROHIBITED TO SELL ANY PRODUCTS AMONG ITS MEMBERS UNLESS THEY ARE OFFICIAL MERCHANDISE OF TMSP.</li>

        <li>IT IS STRICTY PROHIBITED TO USE THE NAME, IMAGE AND LOGO OF TMSP WITHOUT PROPER APPROVAL FROM THE ADMINS ESPECIALLY THOSE FOR PERSONAL INTEREST. ANY CIRCUMSTANCES OR SITUATIONS FOUND TO CAUSE DAMAGE TO THE REPUTATION OF THE TEAM SHALL BE SUBJECT FOR PROPER DUE PROCESS AND INVESTIGATION, AND IF PROVEN BY THE ADMINS, THAT MEMBER SHALL BE AUTOMATICALLY BE REMOVED AND KICKED OUT FROM TMSP AND SHALL NO LONGER BE ACKNOWLEDGE AS LEGIT MEMBER OF TMSP.</li>

        <li>ONE OF THE MAIN VISION AND PURPOSE OF THE CLUB IS TO STRENGHTEN FAMILY TIES AND PROMOTE A FAMILY ORIENTED ENVIRONMENT AND NOT TO RUIN AND CAUSE CONFLICT ON THE RELATIONSHIP. HIRED MODELS ARE THERE TO SUPPORT TMSP AND SERVES AS AN ADVERTISING MACHINE, THUS INDECENT PROPOSAL IS STRICTLY PROHIBITED AMONG TMSP OFFICERS AND MEMBERS.</li>

        <li> TMSP ANNUAL TEAM MEMBERSHIP DUES IS MANDATORY AND SHALL BE PAID BY THE START OF EACH CALENDAR YEAR.</li>


        <li>THE CLUB PROMOTES TRANSPARENCY AMONG ITS MEMBERS. CLUB FUNDS, REBATES, ANNUAL FEES ARE TO BE RECORDED AND ACCOUNTED AND SHALL BE ADVISED AND POSTED FOR THE AWARENESS OF ITS MEMBERS. EVERY LEGIT TMSP MEMBERS IN GOOD STANDING CAN REQUEST A COPY OF THE FINANCIAL REPORT OF THEIR CHAPTER FINANCIAL STATUS.</li>

        <li>TMSP MEMBERS SHALL PRACTICE SAFE DRIVING HABITS AND ABIDE BY THE TRAFFIC RULES & REGULATIONS. ARROGANCE IN THE STREET ESPECIALLY TO THOSE UNIFORMED PERSONNEL OF ANY TRAFFIC BUREAU SHALL BE INVESTIGATED AND WILL BE DEALT WITH DISCIPLINE FROM THE TMSP ADMINS.</li>


        <li>TMSP MEMBER WILL ACCEPT ANY AND ALL LIABILITY FOR PERSONAL SAFETY AND OR PROPERTY DAMAGE AT TMSP ATTENDED/SPONSORED EVENTS IN REGARDS TO THE PRESENCE, USE OR OPERATION OF THEIR VEHICLE(S).</li>

        <li> ALL TMSP MEMBERS SUGGESTIONS AND INSIGHTS ARE WELCOME. ANY PROPOSAL WHETHER ITS BUSINESS OR FOR THE IMPROVEMENT AND DEVELOPMENT OF THE TEAM ARE ALSO WELCOME AND IS SUBJECT FOR THE PRIOR APPROVAL OF THE ADMIN.</li>

        <li> TMSP CODE OF CONDUCT, RULES AND REGULATIONS ARE SUBJECT TO CHANGE BY THE ADMINS AND TEAM COORDINATORS. LIKEWISE, ANY CHANGES TO THE TMSP ADMINS AND TEAM COORDINATORS IS SUBJECT FOR APPROVAL BY VOTING.</li>
    </ol>

    <p>Noted by:</p>

    <pre>
    ROYCE TAN			    BENJILORENZ PENZON		    MIKE SID
    TMSP Founder	        Team Head-NCR Central		Asst. Team Head-NCR Central

    ANNIX ADLWAN		    RANDY ELEFANTE			    STEPHEN SESE
    Treasurer/TC-Camanava	Auditor/TC-QC			    TC-QC

    MJ GUAMEN			    EDWIN DE GUZMAN 			RONALD REYES
    TC-QC				    TC-Manila				    TC-Bulacan

    AJ MARTINEZ			    DON JUSEN ELARMO		    CELMAC PEREZ
    Admin-East Chapter		Admin-East Chapter		    Admin-South Batangas Chapter

    WINSTON HERNANDEZ
    Admin-South Laguna Chapter
    </pre>
</body>
</html>